@import '_variables.scss', '_mixin.scss';

//Resetting
html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1;
}

* {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    font-family: 'Inria Sans', sans-serif;
    position: relative;
    background-color: $mainPageColor;
}

//nav 
nav {
    background-color: $navBottomColor;
    text-transform: uppercase;
    font-weight: 700;

    a {
        color: $white;
    }

    .nav-container {
        max-width: 1080px;
        margin: 0 auto;
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 2.25rem;

            span {
                color: $red;
            }
        }

        ul {
            //display: none;
            display: flex;
            justify-content: space-between;
            gap: 30px;
            font-size: 0.9rem;
            letter-spacing: 0.4px;

            a:hover {
                color: $red;
                transition: 0.3s;
            }
        }

        .menu-icon {
            width: 40px;
            height: 40px;
            display: none;
        }

        .close-icon {
            width: 40px;
            height: 40px;
            display: none;
        }
    }
}

//search bar 
.search-bar-container {
    min-height: 180px;
    max-width: 275px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .search-bar-box {
        height: 44px;
        display: flex;

        #search-bar {
            width: 228px;
            border-radius: 8px 0px 0px 8px;
            outline: none;
            border: none;
            padding-left: 18px;
            font-size: 1rem;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            color: black;
            font-style: normal;

            &::placeholder {
                opacity: .9;
            }
        }

        button {
            border: none;
            width: 44px;
            background-color: $red;
            border-radius: 0px 8px 8px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 18px;
                height: 14px;
            }
        }
    }
}

//Search container 
.results-container {
    max-width: 1075px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;

    .search-p {
        margin: 10px;
        @include textStyling(1rem, 400);
    }
}

//last releases container
.last-releases-container {
    max-width: 1075px;
    margin: 0 auto;

    .search-p,
    .last-releases-p {
        margin: 10px;
        @include textStyling(1rem, 400);
    }
}

//Swiper results of search 
.results-swiper-container,
.last-releases-swiper-container,
.genre-swiper-container {
    //height: 350px;
    max-width: 1075px;
    margin: 0px auto;
    position: relative;
}

.swiper {
    position: static;
    width: 100%;
    //height: 100%;

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .swiper-slide img {
            display: block;
            width: 100%;
            //height: 350px;
            object-fit: cover;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        z-index: 0;
    }

    .swiper-button-next {
        background-image: url("../images/right-arrow.svg") !important;
        right: -50px;
    }

    .swiper-button-prev {
        background-image: url("../images/left-arrow.svg") !important;
        left: -50px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: '';
    }
}

//Genre container
.genre-container {
    max-width: 1075px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 110px;

    .genre-title {
        color: $white;
        text-align: center;
    }

    .genre-p {
        margin: 10px;
        @include textStyling(1rem, 400);
    }

    hr {
        color: white;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .genre-list-div {
        margin: 0 auto;
        max-width: 700px;
        display: flex;
        align-items: center;
        margin-top: 45px;
        margin-bottom: 25px;

        .genre-list {
            display: flex;
            flex-direction: row;
            gap: 35px;

            .genre-list-item {
                border-radius: 8px;
                padding: 7px 9px;
                color: $white;
                background-color: $mainPageColor;
                cursor: pointer;

                &:hover {
                    background-color: $secondaryPageColor;
                }
            }

            .selected {
                background-color: $red;

                &:hover {
                    background-color: $secondRed;
                }
            }
        }
    }

    .genre-swiper-container {
        margin-top: 20px;
    }
}



//footer
footer {
    background-color: $navBottomColor;
    height: 100px;
    font-family: 'Inria Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;

    a {
        color: $white;
    }

    .footer-container {
        max-width: 1080px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: 2.25rem;

            span {
                color: $red;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            font-size: 0.9rem;
            letter-spacing: 0.4px;

            a:hover {
                color: $red;
                transition: 0.3s;
            }
        }

        p {
            text-transform: lowercase;
            color: $grey;
            font-size: 0.9rem;
            font-weight: 300;
        }
    }
}

//Register 
.modal-register-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    display: flex; //it has to be flex when the modal activates
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    .modal-register {
        position: relative;
        max-width: 410px;
        min-height: 650px;
        background-color: black;
        top: 10px;

        .close-button {
            position: absolute;
            top: 10px;
            left: 10px;
            margin-top: 10px;
            margin-left: 10px;
            width: 16px;
            height: 16px;
        }

        .btnTab {
            display: flex;
            height: 54px;
            max-width: 290px;
            margin: 65px 50px 54px 50px;

            a {
                color: $white;
                width: 146px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include textStyling (1.5rem, 700);
                text-transform: uppercase;
                letter-spacing: 0.72px;
                border: 1px solid $white;
            }

            .login {
                border-radius: 0px 8px 8px 0px;
            }

            .signup {
                border-radius: 8px 0px 0px 8px;
            }

            .active {
                background-color: $red;
                border: 1px solid $red !important;
            }
        }

        .login-form {
            display: none; //remove this line to dispaly flex when needed // !important overrides js style changes it turns out, again to avoiding too small commits, I changed it myself
        }

        .register-form,
        .login-form {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            max-width: 290px;
            margin: 0 auto;
            gap: 25px;

            input[type="text"],
            input[type="password"],
            input[type="email"] {
                border: none;
                outline: none;
                width: 290px;
                height: 44px;
                border-radius: 8px;
                color: black;
                font-weight: 400;
                font-size: 1rem;
                padding-left: 20px;
            }

            .remember-div,
            .terms-conditions-div {
                width: 290px;

                label {
                    @include textStyling (1rem, 400);
                }
            }

        }

        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            button {
                border: none;
                outline: none;
                width: 288px;
                height: 47px;
                max-width: 290px;
                margin: 0 auto;
                @include textStyling (1.25rem, 700);
                letter-spacing: 0.6px;
                text-transform: uppercase;
                background-color: $red;
                border-radius: 8px;
            }

            .signup,
            .login-reminder {
                @include textStyling (0.9rem, 400);
                gap: 19px;
                width: 290px;

                p {
                    margin-top: 19px;
                }

                a {
                    color: $red;
                }

            }
        }

        &>* {
            margin: 0 0 0.5rem 0;
        }
    }
}

//Info movies
.modal-movie-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    cursor: pointer;
    display: none; //it has to be flex when the modal activates
    justify-content: center;
    align-items: center;

    .modal-infos-movie {
        position: relative;
        z-index: 2;
        max-width: 740px;
        max-height: 530px;
        background: $navBottomColor;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        color: $white;
        padding: 50px 60px;
        overflow-y: auto;

        .close-btn-movie {
            position: absolute;
            height: 16px;
            width: 16px;
            left: 5px;
            top: 5px;
        }

        #img-modal-movie {
            width: 235px;
            height: 350px;

            #img-modal-movie img {
                width: 100%;
                height: 100%;
                border: 1px solid #000;
                object-fit: cover;
            }
        }

        #infos-movie {
            min-height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 15px;

            #title-movie-modal,
            #rating-movie {
                color: $red;
            }

            #title-movie-modal {
                font-size: 20px;
                font-weight: 700;
                text-align: left;
                text-transform: uppercase;
            }

            #year-release-movie {
                text-align: left;
                color: $white;
                margin-bottom: 10px;
            }

            #i-star {
                width: 21px;
            }

            #rating-movie {
                font-size: 28px;
                font-weight: 700;
                text-align: center;
            }

            #genre-movie-modal {
                margin-top: 10px;
                font-weight: 700;
                text-align: left;
                color: $white;
                margin-bottom: 15px;
                text-transform: uppercase;
            }

            #description-movie-modal {
                width: 292px;
                font-weight: 300;
                text-align: left;
                color: $white;
            }

            .cast-div {
                display: flex;
                flex-direction: row;

                #cast-txt {
                    white-space: nowrap;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: left;
                    width: 39px;
                    color: $white;
                }
            }

            #people-cast {
                margin-left: 15px;
                width: 244px;
                font-size: 14px;
                text-align: left;
                color: $white;
            }
        }
    }
}

//Swiper Hover
.swiper-slide {
    .info {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        height: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        //background: rgba(0, 0, 0, 0.1); // Fond semi-transparent
        color: white;
        opacity: 0; // Masquer par défaut
        transition: opacity 0.3s;
        padding: 10px 30px;
        text-align: center;

        .hover-title {
            @include textStyling(20px, 700);
        }

        .hover-year {
            @include textStyling(20px, 700);
            color: $grey;
        }

        .hover-genre {
            @include textStyling(14px, 500);
        }

        .hover-star {
            width: 35px;
            height: 35px;
        }

        .hover-score {
            @include textStyling(32px, 700);
            color: $red;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.8); // Griser l'arrière-plan
            opacity: 1;
        }
    }
}


@media (max-width: 1200px) {

    // Adjust nav bar for smaller screens
    nav {
        .nav-container {
            padding: 10px;
            max-width: 90%;
        }
    }

    // Adjust search bar container
    .search-bar-container {
        .search-bar-box {
            #search-bar {
                width: 220px;
            }
        }
    }

    // Adjust results and last releases containers
    .results-container,
    .last-releases-container {
        max-width: 85%;
    }

    // Adjust swiper containers
    .results-swiper-container,
    .last-releases-swiper-container,
    .genre-swiper-container {
        max-width: 100%;
    }

    // Adjust genre container
    .genre-container {
        max-width: 85%;
    }

    // Adjust footer container
    footer {
        .footer-container {
            max-width: 90%;
        }
    }
}

@media (max-width: 768px) {

    // Adjust nav bar for even smaller screens
    .modal-infos-movie {
        display: flex !important;
        flex-direction: column;

        #description-movie-modal {
            width: 100%
        }
    }

    nav {
        .nav-container {
            max-width: 90%;

            ul {
                display: none; //make it absolute when it appears 
                flex-direction: column;
                gap: 20px;
                position: absolute;
                top: 0px;
                right: 20%;
                background-color: $red;
                padding: 40px 60px;
                z-index: 2;

                li {
                    padding-bottom: 3px;
                }

                a:hover {
                    color: black;
                    transition: 0.3s;
                }
            }

            .menu-icon {
                display: block;
                //switching around the default behaviour in the media query, since it'd be a 2 line commit otherwise
            }

            .close-icon {
                display: none;
            }
        }
    }

    // Adjust search bar container for smaller screens
    .search-bar-container {
        max-width: 100%;
        padding: 0 15px;

        .search-bar-box {
            #search-bar {
                width: 220px;
                padding-left: 10px;
            }

            button {
                width: 34px;

                img {
                    width: 14px;
                    height: 12px;
                }
            }
        }
    }

    // Adjust results and last releases containers
    .results-container,
    .last-releases-container {
        margin-top: 80px;
    }

    .results-container,
    .last-releases-container,
    .genre-container {
        max-width: 90%;
    }

    // Adjust swiper containers
    .results-swiper-container,
    .last-releases-swiper-container,
    .genre-swiper-container {
        min-height: 300px;
        max-width: 85% !important;
    }

    // Adjust genre container
    .genre-container {
        margin-top: 80px;
        margin-bottom: 80px;

        .genre-list-div {
            justify-content: center;
            align-items: center;
        }

        .genre-list {
            padding: 0px;
            display: grid !important;
            justify-items: center;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    // Adjust footer container
    footer {
        min-height: 300px;

        .footer-container {
            max-width: 90%;

            ul {
                gap: 20px;
                flex-direction: column;
                align-items: center;
                li {
                    text-align: center !important;
                }
            }
        }
    }
}

@media (max-width: 480px) {

    // Further adjustments for smaller screens
    .swiper-button-next {
        right: -30px !important;
    }

    .swiper-button-prev {
        left: -30px !important;
    }

    .search-bar-container {
        .search-bar-box {
            #search-bar {
                width: 140px;
                padding-left: 8px;
            }

            button {
                width: 30px;

                img {
                    width: 12px;
                    height: 10px;
                }
            }
        }
    }

    .results-container,
    .last-releases-container {
        margin-top: 60px;
        margin-bottom: 100px;
    }

    .genre-container {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .footer-container {
        padding: 10px;
        flex-direction: column !important;

        ul {
            flex-direction: column;
            padding: 0;
        }
    }
}

@media (max-width: 450px) {

    // Adjust nav bar for even smaller screens
    nav {
        .nav-container {
            max-width: 90%;
        }

        .menu-icon {
            width: 25px;
            height: 25px;
        }

        .close-icon {
            width: 25px;
            height: 25px;
        }
    }

    // Adjust search bar container for smaller screens
    .search-bar-container {
        max-width: 100%;
        padding: 0 15px;

        .search-bar-box {
            #search-bar {
                width: 220px;
                padding-left: 10px;
            }

            button {
                width: 34px;

                img {
                    width: 14px;
                    height: 12px;
                }
            }
        }
    }

    // Adjust results and last releases containers
    .results-container,
    .last-releases-container {
        margin-top: 80px;
    }

    .results-container,
    .last-releases-container,
    .genre-container {
        max-width: 85%;
    }

    // Adjust swiper containers
    .results-swiper-container,
    .last-releases-swiper-container,
    .genre-swiper-container {
        min-height: 300px;
        max-width: 80% !important;
    }

    // Adjust genre container
    .genre-container {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    // Adjust footer container
    footer {
        min-height: 300px;

        .footer-container {
            max-width: 80%;

            ul {
                gap: 20px;
                flex-direction: column;
            }
        }
    }
}