html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1;
}

* {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  font-family: "Inria Sans", sans-serif;
  position: relative;
  background-color: #191B20;
}

nav {
  background-color: #141517;
  text-transform: uppercase;
  font-weight: 700;
}
nav a {
  color: #fff;
}
nav .nav-container {
  max-width: 1080px;
  margin: 0 auto;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-container .logo {
  font-size: 2.25rem;
}
nav .nav-container .logo span {
  color: #C00;
}
nav .nav-container ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 0.9rem;
  letter-spacing: 0.4px;
}
nav .nav-container ul a:hover {
  color: #C00;
  transition: 0.3s;
}
nav .nav-container .menu-icon {
  width: 40px;
  height: 40px;
  display: none;
}
nav .nav-container .close-icon {
  width: 40px;
  height: 40px;
  display: none;
}

.search-bar-container {
  min-height: 180px;
  max-width: 275px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar-container .search-bar-box {
  height: 44px;
  display: flex;
}
.search-bar-container .search-bar-box #search-bar {
  width: 228px;
  border-radius: 8px 0px 0px 8px;
  outline: none;
  border: none;
  padding-left: 18px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: black;
  font-style: normal;
}
.search-bar-container .search-bar-box #search-bar::-moz-placeholder {
  opacity: 0.9;
}
.search-bar-container .search-bar-box #search-bar::placeholder {
  opacity: 0.9;
}
.search-bar-container .search-bar-box button {
  border: none;
  width: 44px;
  background-color: #C00;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-bar-container .search-bar-box button img {
  width: 18px;
  height: 14px;
}

.results-container {
  max-width: 1075px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 80px;
}
.results-container .search-p {
  margin: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.last-releases-container {
  max-width: 1075px;
  margin: 0 auto;
}
.last-releases-container .search-p,
.last-releases-container .last-releases-p {
  margin: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.results-swiper-container,
.last-releases-swiper-container,
.genre-swiper-container {
  max-width: 1075px;
  margin: 0px auto;
  position: relative;
}

.swiper {
  position: static;
  width: 100%;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.swiper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  z-index: 0;
}
.swiper .swiper-button-next {
  background-image: url("../images/right-arrow.svg") !important;
  right: -50px;
}
.swiper .swiper-button-prev {
  background-image: url("../images/left-arrow.svg") !important;
  left: -50px;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  content: "";
}

.genre-container {
  max-width: 1075px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 110px;
}
.genre-container .genre-title {
  color: #fff;
  text-align: center;
}
.genre-container .genre-p {
  margin: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.genre-container hr {
  color: white;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.genre-container .genre-list-div {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 25px;
}
.genre-container .genre-list-div .genre-list {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.genre-container .genre-list-div .genre-list .genre-list-item {
  border-radius: 8px;
  padding: 7px 9px;
  color: #fff;
  background-color: #191B20;
  cursor: pointer;
}
.genre-container .genre-list-div .genre-list .genre-list-item:hover {
  background-color: #23252a;
}
.genre-container .genre-list-div .genre-list .selected {
  background-color: #C00;
}
.genre-container .genre-list-div .genre-list .selected:hover {
  background-color: rgb(164, 3, 3);
}
.genre-container .genre-swiper-container {
  margin-top: 20px;
}

footer {
  background-color: #141517;
  height: 100px;
  font-family: "Inria Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
footer a {
  color: #fff;
}
footer .footer-container {
  max-width: 1080px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container .logo {
  font-size: 2.25rem;
}
footer .footer-container .logo span {
  color: #C00;
}
footer .footer-container ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 0.9rem;
  letter-spacing: 0.4px;
}
footer .footer-container ul a:hover {
  color: #C00;
  transition: 0.3s;
}
footer .footer-container p {
  text-transform: lowercase;
  color: #B8B8B8;
  font-size: 0.9rem;
  font-weight: 300;
}

.modal-register-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.modal-register-overlay .modal-register {
  position: relative;
  max-width: 410px;
  min-height: 650px;
  background-color: black;
  top: 10px;
}
.modal-register-overlay .modal-register .close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-top: 10px;
  margin-left: 10px;
  width: 16px;
  height: 16px;
}
.modal-register-overlay .modal-register .btnTab {
  display: flex;
  height: 54px;
  max-width: 290px;
  margin: 65px 50px 54px 50px;
}
.modal-register-overlay .modal-register .btnTab a {
  color: #fff;
  width: 146px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  border: 1px solid #fff;
}
.modal-register-overlay .modal-register .btnTab .login {
  border-radius: 0px 8px 8px 0px;
}
.modal-register-overlay .modal-register .btnTab .signup {
  border-radius: 8px 0px 0px 8px;
}
.modal-register-overlay .modal-register .btnTab .active {
  background-color: #C00;
  border: 1px solid #C00 !important;
}
.modal-register-overlay .modal-register .login-form {
  display: none;
}
.modal-register-overlay .modal-register .register-form,
.modal-register-overlay .modal-register .login-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 290px;
  margin: 0 auto;
  gap: 25px;
}
.modal-register-overlay .modal-register .register-form input[type=text],
.modal-register-overlay .modal-register .register-form input[type=password],
.modal-register-overlay .modal-register .register-form input[type=email],
.modal-register-overlay .modal-register .login-form input[type=text],
.modal-register-overlay .modal-register .login-form input[type=password],
.modal-register-overlay .modal-register .login-form input[type=email] {
  border: none;
  outline: none;
  width: 290px;
  height: 44px;
  border-radius: 8px;
  color: black;
  font-weight: 400;
  font-size: 1rem;
  padding-left: 20px;
}
.modal-register-overlay .modal-register .register-form .remember-div,
.modal-register-overlay .modal-register .register-form .terms-conditions-div,
.modal-register-overlay .modal-register .login-form .remember-div,
.modal-register-overlay .modal-register .login-form .terms-conditions-div {
  width: 290px;
}
.modal-register-overlay .modal-register .register-form .remember-div label,
.modal-register-overlay .modal-register .register-form .terms-conditions-div label,
.modal-register-overlay .modal-register .login-form .remember-div label,
.modal-register-overlay .modal-register .login-form .terms-conditions-div label {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.modal-register-overlay .modal-register .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.modal-register-overlay .modal-register .bottom button {
  border: none;
  outline: none;
  width: 288px;
  height: 47px;
  max-width: 290px;
  margin: 0 auto;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background-color: #C00;
  border-radius: 8px;
}
.modal-register-overlay .modal-register .bottom .signup,
.modal-register-overlay .modal-register .bottom .login-reminder {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  gap: 19px;
  width: 290px;
}
.modal-register-overlay .modal-register .bottom .signup p,
.modal-register-overlay .modal-register .bottom .login-reminder p {
  margin-top: 19px;
}
.modal-register-overlay .modal-register .bottom .signup a,
.modal-register-overlay .modal-register .bottom .login-reminder a {
  color: #C00;
}
.modal-register-overlay .modal-register > * {
  margin: 0 0 0.5rem 0;
}

.modal-movie-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-movie-overlay .modal-infos-movie {
  position: relative;
  z-index: 2;
  max-width: 740px;
  max-height: 530px;
  background: #141517;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  padding: 50px 60px;
  overflow-y: auto;
}
.modal-movie-overlay .modal-infos-movie .close-btn-movie {
  position: absolute;
  height: 16px;
  width: 16px;
  left: 5px;
  top: 5px;
}
.modal-movie-overlay .modal-infos-movie #img-modal-movie {
  width: 235px;
  height: 350px;
}
.modal-movie-overlay .modal-infos-movie #img-modal-movie #img-modal-movie img {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-movie-overlay .modal-infos-movie #infos-movie {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}
.modal-movie-overlay .modal-infos-movie #infos-movie #title-movie-modal,
.modal-movie-overlay .modal-infos-movie #infos-movie #rating-movie {
  color: #C00;
}
.modal-movie-overlay .modal-infos-movie #infos-movie #title-movie-modal {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}
.modal-movie-overlay .modal-infos-movie #infos-movie #year-release-movie {
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}
.modal-movie-overlay .modal-infos-movie #infos-movie #i-star {
  width: 21px;
}
.modal-movie-overlay .modal-infos-movie #infos-movie #rating-movie {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.modal-movie-overlay .modal-infos-movie #infos-movie #genre-movie-modal {
  margin-top: 10px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.modal-movie-overlay .modal-infos-movie #infos-movie #description-movie-modal {
  width: 292px;
  font-weight: 300;
  text-align: left;
  color: #fff;
}
.modal-movie-overlay .modal-infos-movie #infos-movie .cast-div {
  display: flex;
  flex-direction: row;
}
.modal-movie-overlay .modal-infos-movie #infos-movie .cast-div #cast-txt {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  width: 39px;
  color: #fff;
}
.modal-movie-overlay .modal-infos-movie #infos-movie #people-cast {
  margin-left: 15px;
  width: 244px;
  font-size: 14px;
  text-align: left;
  color: #fff;
}

.swiper-slide .info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 10px 30px;
  text-align: center;
}
.swiper-slide .info .hover-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.swiper-slide .info .hover-year {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #B8B8B8;
}
.swiper-slide .info .hover-genre {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.swiper-slide .info .hover-star {
  width: 35px;
  height: 35px;
}
.swiper-slide .info .hover-score {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #C00;
}
.swiper-slide .info:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

@media (max-width: 1200px) {
  nav .nav-container {
    padding: 10px;
    max-width: 90%;
  }
  .search-bar-container .search-bar-box #search-bar {
    width: 220px;
  }
  .results-container,
  .last-releases-container {
    max-width: 85%;
  }
  .results-swiper-container,
  .last-releases-swiper-container,
  .genre-swiper-container {
    max-width: 100%;
  }
  .genre-container {
    max-width: 85%;
  }
  footer .footer-container {
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  .modal-infos-movie {
    display: flex !important;
    flex-direction: column;
  }
  .modal-infos-movie #description-movie-modal {
    width: 100%;
  }
  nav .nav-container {
    max-width: 90%;
  }
  nav .nav-container ul {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 0px;
    right: 20%;
    background-color: #C00;
    padding: 40px 60px;
    z-index: 2;
  }
  nav .nav-container ul li {
    padding-bottom: 3px;
  }
  nav .nav-container ul a:hover {
    color: black;
    transition: 0.3s;
  }
  nav .nav-container .menu-icon {
    display: none;
  }
  nav .nav-container .close-icon {
    display: block;
  }
  .search-bar-container {
    max-width: 100%;
    padding: 0 15px;
  }
  .search-bar-container .search-bar-box #search-bar {
    width: 220px;
    padding-left: 10px;
  }
  .search-bar-container .search-bar-box button {
    width: 34px;
  }
  .search-bar-container .search-bar-box button img {
    width: 14px;
    height: 12px;
  }
  .results-container,
  .last-releases-container {
    margin-top: 80px;
  }
  .results-container,
  .last-releases-container,
  .genre-container {
    max-width: 90%;
  }
  .results-swiper-container,
  .last-releases-swiper-container,
  .genre-swiper-container {
    min-height: 300px;
    max-width: 85% !important;
  }
  .genre-container {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .genre-container .genre-list-div {
    justify-content: center;
    align-items: center;
  }
  .genre-container .genre-list {
    padding: 0px;
    display: grid !important;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer {
    min-height: 300px;
  }
  footer .footer-container {
    max-width: 90%;
  }
  footer .footer-container ul {
    gap: 20px;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .swiper-button-next {
    right: -30px !important;
  }
  .swiper-button-prev {
    left: -30px !important;
  }
  .search-bar-container .search-bar-box #search-bar {
    width: 140px;
    padding-left: 8px;
  }
  .search-bar-container .search-bar-box button {
    width: 30px;
  }
  .search-bar-container .search-bar-box button img {
    width: 12px;
    height: 10px;
  }
  .results-container,
  .last-releases-container {
    margin-top: 60px;
    margin-bottom: 100px;
  }
  .genre-container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .footer-container {
    padding: 10px;
    flex-direction: column !important;
  }
  .footer-container ul {
    flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 450px) {
  nav .nav-container {
    max-width: 90%;
  }
  nav .menu-icon {
    width: 25px;
    height: 25px;
  }
  nav .close-icon {
    width: 25px;
    height: 25px;
  }
  .search-bar-container {
    max-width: 100%;
    padding: 0 15px;
  }
  .search-bar-container .search-bar-box #search-bar {
    width: 220px;
    padding-left: 10px;
  }
  .search-bar-container .search-bar-box button {
    width: 34px;
  }
  .search-bar-container .search-bar-box button img {
    width: 14px;
    height: 12px;
  }
  .results-container,
  .last-releases-container {
    margin-top: 80px;
  }
  .results-container,
  .last-releases-container,
  .genre-container {
    max-width: 85%;
  }
  .results-swiper-container,
  .last-releases-swiper-container,
  .genre-swiper-container {
    min-height: 300px;
    max-width: 80% !important;
  }
  .genre-container {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  footer {
    min-height: 300px;
  }
  footer .footer-container {
    max-width: 80%;
  }
  footer .footer-container ul {
    gap: 20px;
    flex-direction: column;
  }
}